
CREATE TABLE [dbo].[UserAccount](
	[UserAccountId] [uniqueidentifier] NOT NULL CONSTRAINT [dfUserAccountId]  DEFAULT (newid()),
	[UserAccountCode] [nchar](20) NULL,
	[UserAccountPassword] [nvarchar](50) NOT NULL,
	[UserAccountPasswordExpiration] [smalldatetime] NOT NULL,
	[UserAccountHandHeldUser] [bit] NOT NULL CONSTRAINT [dfUserAccountHandHeldUser]  DEFAULT ((0)),
	[UserAccountLogonCount] [smallint] NOT NULL,
	[UserAccountModUserId] [uniqueidentifier] NOT NULL,
	[UserAccountModDate] [datetime] NOT NULL,
	[UserAccountDDMSiteId] [uniqueidentifier] NOT NULL,
	[UserAccountDDMBatch] [int] NOT NULL,
	[UserAccountSystem] [bit] NOT NULL CONSTRAINT [dfUserAccountSystem]  DEFAULT ((0)),
 CONSTRAINT [pkUserAccountId] PRIMARY KEY CLUSTERED 
(
	[UserAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[UserAccount] ([UserAccountId], [UserAccountCode], [UserAccountPassword], [UserAccountPasswordExpiration], [UserAccountHandHeldUser], [UserAccountLogonCount], [UserAccountModUserId], [UserAccountModDate], [UserAccountDDMSiteId], [UserAccountDDMBatch], [UserAccountSystem]) VALUES (N'87dba50c-dec0-4cd9-9516-00580d1aa4a5', N'PMI\AIMBERT         ', N'63EEvCgh7pinDrAfQ5d1yg==', CAST(N'2009-04-30 22:44:00' AS SmallDateTime), 1, 0, N'00000000-0000-0000-0000-000000000000', CAST(N'2013-04-09 09:48:28.133' AS DateTime), N'be1b226d-ea82-4a2a-87ac-50d92b6a2d10', 2946, 0)
GO
INSERT [dbo].[UserAccount] ([UserAccountId], [UserAccountCode], [UserAccountPassword], [UserAccountPasswordExpiration], [UserAccountHandHeldUser], [UserAccountLogonCount], [UserAccountModUserId], [UserAccountModDate], [UserAccountDDMSiteId], [UserAccountDDMBatch], [UserAccountSystem]) VALUES (N'ce466a9f-d2a4-4541-b5ca-00738a0864e2', N'PMI\MXAVIER         ', N'Rw9BPJTqznlq+5bwu7+TGg==', CAST(N'2011-02-20 16:31:00' AS SmallDateTime), 1, 0, N'00000000-0000-0000-0000-000000000000', CAST(N'2013-04-09 09:48:28.133' AS DateTime), N'be1b226d-ea82-4a2a-87ac-50d92b6a2d10', 2946, 0)
GO
INSERT [dbo].[UserAccount] ([UserAccountId], [UserAccountCode], [UserAccountPassword], [UserAccountPasswordExpiration], [UserAccountHandHeldUser], [UserAccountLogonCount], [UserAccountModUserId], [UserAccountModDate], [UserAccountDDMSiteId], [UserAccountDDMBatch], [UserAccountSystem]) VALUES (N'4776dbfb-c02d-445e-8894-00eb3be4e40a', N'PMI\RBSILVA         ', N'XaLC+t5zrvdf5prwi1HnuA==', CAST(N'2009-07-30 23:25:00' AS SmallDateTime), 1, 0, N'00000000-0000-0000-0000-000000000000', CAST(N'2013-04-09 09:48:28.133' AS DateTime), N'be1b226d-ea82-4a2a-87ac-50d92b6a2d10', 2946, 0)
GO

